* {
    margin: 0%;
    padding: 0%;
    border-radius: 0%;  
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
}

.nav {
    display: flex;
    gap: 3rem;
}

.body {
    background-color: #B1D0E0;
    display: flex;
    justify-content: space-around;
    margin: 8rem 15rem;
    padding: 2rem;
    border: none;
    border-radius: 0.5rem;
}

.form {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    width: 20%;
}

input {
    padding: 0.5rem;
    border: none;
    border-radius: 0.3rem;
}

button {
    padding: 0.5rem;
    border: none;
    border-radius: 0.3rem;
    background-color: #1A374D;
    color: white;
}

h4 {
    margin: 0%;
    padding: 0%;
}

.apprenants {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: none;
    border-radius: 0.5rem;
    width: 20%;
    background-color: #406882;
    color: white;
}

.draw {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: none;
    border-radius: 0.5rem;
    width: 20%;
    color: white;
    background-color: #406882;
}
h3 {
    color: black;
}